.footerwrapper {
    font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 15px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.325);
    margin-top: 15%;
  }

h2 {
    font-weight: 900;
    font-size: 13px;
    line-height: 1;
    margin: 6px 0 6px 10px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    color: white;
    
  }

.icons {
    align-items: center;
    text-align: center;
    color: white;
    margin-right: 47%;
}